body {
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  color: var(--text);
}

h1,
h2,
h3,
h4,
p,
small {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text);
}

h1 {
  font-size: 24px;
  font-weight: 700;
}
h2 {
  font-size: 17.5px;
  font-weight: 700;
}
h3 {
  font-size: 17.5px;
  font-weight: 400;
}
h4 {
  font-size: 14px;
  font-weight: 700;
}

label {
    font-size: 14px;
    color: var(--text-secondary);
}

.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}